.head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

.lb{
    font-size: large;
    color: white;
}

.form-container{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(160, 15, 189);
}
      
.form-group .pass-icon {
    float: right;
    margin-left: -25px;
    margin-top: -43px;
    margin-right:80px;
    position: relative;
    z-index: 2;
    color :rgb(0, 0, 0);

}

.pass-icon{
    color:white;
}


.error{
    color:red
}





